.home-container {
    /* background-color: black; */
    height: 100vh;
    width: 100%;
}

.left-pic img {
    /* background-color: green; */
    display: flex;
    width: 400px;
    height: 500px;
    margin-top: 1rem;
    position: absolute;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }

}

/*Laptops, Desktops*/
@media (min-width: 1281px) {
    .left-pic img {
        height: 680px;
        width: 580px;
        /* background-color: brown; */
    }
}

/* Laptops, Desktops 1025px to 1280p*/

@media (min-width: 1025px) and (max-width: 1280px) {

    .left-pic img {
        height: 680px;
        width: 580px;
    }
}

/*Tablets, Ipads (Portrait)*/
@media (min-width: 768px) and (max-width: 1024px) {
    .left-pic img {
        height: 520px;
        width: 420px;
        /* background-color: green; */
    }


}

/*Tablets, Ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .left-pic img {
        height: 600px;
        width: 500px;
        /* background-color: red; */
    }
}

/*Mobile Devices (Landscape)*/
@media (min-width: 481px) and (max-width: 767px) {

    .left-pic img {
        height: 300px;
        width: 200px;
        /* background-color:blue; */
    }

}

/* Mobile Devices (Portrait) */
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .left-pic img {
        height: 300px;
        width: 200px;
        /* background-color: purple; */
    }

}