* {
    margin: 0;
    padding: 0;
}


#main-container {
    display: flex;
}

/* Banner Pic */
.left-pic {
    display: flex;
    height: 250px;
    width: 150px;
    position: absolute;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out
}

/* Floating Animation */
@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }

}

/* Box 1 */
.img-box {
    height: 250px;
    width: 150px;
}

/* Box 2 */
.heading-box {
    height: 200px;
    width: 200px;
    /* background-color: green; */
    margin-top: 1rem;
    text-align: center;
}

.heading {
    font-size: 2rem;
    text-align: left;
}

/* xs */
@media (min-width: 481px) {}

/* sm */
@media (min-width: 640px) {}

/* md */
@media (min-width: 768px) {}

/* lg */
@media (min-width: 1024px) {}

/* xl */
@media (min-width: 1280px) {}

/* 2xl */
@media (min-width: 1536px) {}