.home-container {
    /* background-color: black; */
    height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* background-color: aqua;
    border: 2px red; */
}

.left-pic {
    /* background-color: black; */
    display: flex;
    height: 250px;
    width: 150px;
    position: absolute;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }

}

/* xs */
@media (min-width: 481px) {
   
}

/* sm */
@media (min-width: 640px) {
    
}

/* md */
@media (min-width: 768px) {
    
}

/* lg */
@media (min-width: 1024px) {
   
}

/* xl */
@media (min-width: 1280px) {
    
}

/* 2xl */
@media (min-width: 1536px) {

}